@import "tailwindcss";

/* Global Variables */
:root {
  --e-global-typography-text-font-family: "Manrope";
  --e-global-typography-accent-font-family: "Manrope";
  --e-global-typography-513fbaf-font-family: "Michroma";
}

/* Global Styles */
body {
  font-family: var(--e-global-typography-text-font-family), sans-serif;
  background-color: #0B1117;
  color: #DFDFDF;
}

header nav {
  font-family: var(--e-global-typography-513fbaf-font-family), sans-serif;
}
