@tailwind base;
@tailwind components;
@tailwind utilities;



.encabezado {
    background-color: #0B1117;
    width: 100%;
    height: 100px;
}

.encabezado-p1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50%;
    padding: 5px 0px 5px 0px;
    border-bottom: 1px solid #32373D;
    color: white;
}

.conten-izquierdo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 10px 0;
    font-family: "Manrope", sans-serif;
    font-size: 10pt;
    color: #CBC7B7;
}

.conten-derecho {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 10px 0;

}

.conten-derecho a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid #32373D;
    border-radius: 50%;
}

.icon-color {
    color: red;
}

/*parte inferior*/
.encabezado-p2 {
    padding: 20px 0px 0px 0px;

}

.conten-total {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-iz {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-iz img {
    width: 25%;
    height: 25%;
}

.content-cen {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #768D8D;
    text-align: justify;


}

.content-cen a {
    margin: 0px 30px 0px 30px;
    font-family: 'Michroma', Sans-serif;

}

.content-de {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-de button {
    color: white;
    border: 1px solid#FF493B;
    background-color: #FF493B;
    border-radius: 15px;
    padding: 5px 15px 5px 15px;

}

/*menu*/
.section-1 {
    background-color: #0B1117;

}

.superior {
    display: flex;
    align-items: center;
    justify-content: center;

}

.asi-iz-sub {
    width: 31%;
    height: auto;

}

.asi-de-sub {
    position: relative;
    top: 30px;
    width: 50%;
    margin-left: 40px;

}

.asi-iz-bot button {
    border: 1px solid white;
    padding: 8px 20px;
    margin: 20px 15px 0px 15px;
    border-radius: 15px;

}

.btn-get {
    color: white;
}

.btn-get:hover {
    color: white;
    background-color: #FF493B;
    border: 1px solid #FF493B;
    transition: 1s;
}

.bg-white:hover {
    background-color: #FF493B;
    border: 1px solid #FF493B;
    transition: 1s;
    color: white;
}

h1 {
    font-size: 50pt;

}

.p1 {
    font-size: 15pt;
    color: #FF493B;
}

.asi-iz-sub p {
    font-size: 12pt;
    text-align: justify;
    margin-left: 10px;
    margin-right: 50px;
}

.contenido-inferior {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
}

.inferior {
    background-image: url(https://askproject.net/hauler/wp-content/uploads/sites/173/2024/02/aerial-view-of-container-cargo-ship-with-container-4J6QDD9.jpg);
    background-position: center;
    background-size: cover;
    width: 84%;
    height: 500px;
    display: flex;
    align-items: end;
}

.sub1 {
    display: flex;
    background-color: #FF493B;
    height: 30%;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.sub1 div {
    width: 40%;
    margin-left: 30px;
    text-align: start;
    color: white;
    font-size: 40pt;

}

.sub1 figure {
    margin-left: 20px;
}

.sub1 figure figcaption {
    font-size: 15pt;
    text-align: end;
    margin-right: 30px;
}

/*parte 2 del menu*/
.inferior2 {
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    padding-bottom: 70px;
}

.asi-bg-iz {
    background-image: url(https://askproject.net/hauler/wp-content/uploads/sites/173/2024/02/cargo-ship-from-top-ABHTWX7.jpg);
    background-position: center;
    background-size: cover;
    width: 45%;
    height: 660px;
    display: flex;
    flex-direction: column;
    justify-content: end;



}

.asi-bg-iz div>div {
    display: block;
    margin-block-end: 0;
    width: 100%;

}

.asi-bg-iz div>div>img {
    width: 65%;
    vertical-align: middle;
    display: inline-block;
    margin: 0px 0px -90px -20px;
    padding: 0px;
}

.asi-bg-de {
    width: 50%;
    color: white;
    padding-left: 20px;
}

.asi-bg-de h1 {
    font-size: 50pt
}

.contenedor div {
    margin-bottom: 50px;

}

.block {
    display: flex;

}

.block-figure {
    border-right: 1px solid #32373D;
    margin-right: 40px;
    padding-right: 10px;
}

.block h2 {
    font-size: 20pt;
}

.block span {
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
    color: #FF493B;
}

.contenedor button {
    border: 1px solid white;
    padding: 8px 30px 8px 30px;
    border-radius: 20px;

}

.contenedor button:hover {
    background-color: #FF493B;
    border: #FF493B;
}


/*parte 2*/
.section-2 {
    background-color: #0F171F;
    font-family: var(--e-global-typography-text-font-family);
    padding-top: 70px;
    padding-bottom: 120px;
}

.subletras {
    color: #FF493B;
    position: absolute;
    left: 140px;
}


.section-2>div>aside {
    display: flex;
    justify-content: space-around;
    color: white;

}

.section-2 div aside span {
    display: flex;
    align-items: center;

}

.section-2 div button {
    border: 1px solid white;
    width: 120px;
    height: 40px;
    border-radius: 15px;
}

.section-2 div button:hover {
    background-color: #FF493B;
    border: #FF493B;
}


.section-2 div aside h1 {
    width: 50%;
    font-size: 55pt;
    margin: 20px 20px 0px 0px;

}


.cartas {
    display: flex;
    color: #DFDFDF;
    padding-top: 40px;
    width: 90%;
    margin: auto;
    font-family: var(--e-global-typography-text-font-family);
}

.cartas figure {
    margin: 0px 40px;
    background-color: black;
    padding: 40px 40px 10px 40px;
}

.cartas figcaption {
    text-align: justify;
}

.cartas figcaption h1 {
    font-size: 30px;
}

.cartas span {
    color: #FF493B;
    font-size: 80px;
}

.cartas span img {
    height: 20%;
    width: 20%;
    margin-bottom: 20px;
}

.cartas i {
    color: #FF493B;
    font-size: 20pt;
    margin-top: 10px;
}

.carta1 {
    position: relative;
    top: 40px;
}

.carta2 {

    position: relative;
    top: 20px;

}

/*parte 3*/

.section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0B1117;
    padding: 100px 0px;

}


.section-3 div {
    width: 85%;
    height: 650px;
    background-color: #0F171F;
    display: flex;
}

.imagen-izquierda {
    background-image: url(https://askproject.net/hauler/wp-content/uploads/sites/173/2024/02/engineer-worker-under-working-with-fork-lift-conta-YMC76W4.jpg);
    width: 50%;
    height: 650px;
    background-position: center;
    background-size: cover;
}

.form-derecho {
    width: 50%;
    height: 650px;
    background-color: #0F171F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 60px;

}

.form-derecho h4 {
    color: #FF493B;
    font-family: var(--e-global-typography-text-font-family);
}

.form-derecho h1 {
    color: #DFDFDF;
    font-size: 42pt;
}

.inputs {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}

input {
    margin: 20px 20px;
    background-color: #0F171F;
    border-bottom: 1px solid #DFDFDF;
}

input:hover {
    border-bottom: 1px solid #FF493B;
    transition: 0.5s;
}

select {
    background-color: #0F171F;
    color: #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
    width: 82%;
    margin: 20px 20px;
}

option {
    background-color: #DFDFDF;
    color: #272C32;
}


.form-i {
    border: 1px solid #FF493B;
    color: #DFDFDF;
    border-radius: 20px;
    background-color: #FF493B;
    padding: 5px 80px;
}

.form-i:hover {
    color: #272C32;
    background-color: #CBC7B7;
    transition: 1s;
    border: 1px solid #CBC7B7;
}

/*flayer3*/
.conteiner {
    width: 100%;
    height: 580px;
    background-color: #0B1117;
}

.capa {
    width: 95%;
    margin: auto;
    height: 600px;
    background-color: #FF493B;
    background-image: url(https://askproject.net/hauler/wp-content/uploads/sites/173/2024/02/logobg3.png);
    background-size: cover;
    background-position: bottom;
    display: flex;

}

.capa aside {
    color: white;
    width: 52%;
    padding: 40px 80px;
}

.capa aside p {
    padding: 30px 0px;
}

.capa aside button {
    padding: 10px 35px;
    border-radius: 20px;
}

.b-dc {
    border: 1px solid white;
}

.b-dc:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
}

.b-iz {
    margin-left: 20px;
    background-color: black;
}

.b-iz:hover {
    background-color: white;
    color: black;

}

.capa img {
    height: 98.5%;
    width: 42%;
    position: relative;
    bottom: 10px;
}

/*flayer4*/
.conteiner2 {
    width: 100%;
    height: 700px;
    background-color: #0B1117;
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    font-family: var(--e-global-typography-text-font-family);
    color: #DFDFDF;
}

.capa2 {
    width: 80%;
    align-items: center;
    justify-content: center;
}

#subcapa{
    display: flex;
}
#subcapa-lateral{
    width: 25%;
}
#subcapa_centro{
    width: 50%;
    background-image: url(https://askproject.net/hauler/wp-content/uploads/sites/173/2024/02/banner-top-view-of-cargo-container-ship-carrying-c-C58MTNA.jpg);
    background-position: center;
    background-size: cover;
    
}
/*pie*/
:root {
    --e-global-typography-text-font-family: "Manrope";

}

footer {
    background-color: #0B1117;
    color: #DFDFDF;
    font-family: var(--e-global-typography-text-font-family), sans-serif;
    font-size: 12pt;
    padding-top: 180px;
}

.logopie {
    display: flex;
    flex-direction: column;
}

.logopie img {
    width: 20%;
    height: auto;
    margin: auto;
}

.logopie figcaption {
    width: 25%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.bloque1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.bloque1 div {
    margin: 40px 0px 60px 0px;

}

.sublock {
    margin-left: 30px;
}

.bloque1 a {
    border: 1px solid #141F2A;
    background-color: #141F2A;
    padding: 20px 40px 20px 40px;
    align-items: center;
    font-size: 22pt;
    font-family: var(--e-global-typography-text-font-family), "sans-serif";
}

.bloque1 span {
    color: #FF493B;

}

.bloque2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 14pt;
    padding-top: 10px;
    border-top: 1px solid #272C32;
    width: 80%;
    margin: auto;
}

.bloque2 ul {
    margin-top: 40px;
    margin-bottom: 40px;
}

.bloque2 li {
    margin-top: 20px;
    margin-bottom: 20px;
}

.bloque2 li:hover {
    transition: 0.5s;
    color: #FF493B;
}


.bloque3 {
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #272C32;
    margin-top: 10px;
}

.sub3 {
    display: flex;
    margin-left: 500px;
}

.sub3 a {
    margin-left: 20px;
}